@model IEnumerable<ContractorApp.Content.Contractor>

@{
    ViewBag.Title = "Program";
}

<h2>Program</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.work_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.personal_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employer.EmployerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Program.ProgramName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supervisor.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Institution.InstitutionName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.work_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.personal_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employer.EmployerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.LocationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Program.ProgramName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Supervisor.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Institution.InstitutionName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContractorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContractorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContractorID })
        </td>
    </tr>
}

</table>
