@model IEnumerable<ContractorApp.Content.Institution>

@{
    ViewBag.Title = "Index";
}

<h2>Institutions</h2>

<p>
    @Html.ActionLink("Create New Institution", "Create", "Institutions")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstitutionName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstitutionName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.InstitutionID }) |
            @Html.ActionLink("Details", "Details", new { id = item.InstitutionID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.InstitutionID }) |
            @Html.ActionLink("View Contractors", "Institution", "Contractors", new { id = item.InstitutionID }, null)
        </td>
    </tr>
}

</table>
